<!DOCTYPE html>
<html>


<head>
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="{{ url_for ('static', filename='css/main.css') }}"> 

    <!--<link rel="stylesheet" type=text/css href="{{  url_for('static', filename='css/util.css')}}">-->
    {% block head%}{% endblock%}
</head>
	
<body>
    {% block body %}{% endblock %}
</body>

</html>

